<section class="bg-black text-white py-20 px-6">
  <div class="max-w-3xl mx-auto text-center">

    <h2 class="text-4xl font-orbitron font-bold text-gold mb-6">
      Portafolio en construcción
    </h2>

    <p class="text-lg text-gray-300 font-retro mb-10">
      Estamos trabajando en nuestros casos de éxito. Muy pronto podrás ver aquí los proyectos reales que hemos desarrollado para nuestros clientes.
    </p>


    <button routerLink="/contacto"  class="btn-golden-sm mt-6">
      ¿Quieres ser uno de nuestros primeros casos de éxito?
    </button>

  </div>
</section>

