<header class="bg-brand-black text-white px-4 py-3 shadow-md border-b border-golden">
  <div class="flex items-center justify-between max-w-container mx-auto">

    <!-- Logo sin texto -->
    <div class="flex items-center gap-4">
      <img src="assets/img/logo.ico"
           alt="Logo MishOne"
           class="h-20 w-auto hover:scale-130 transition-transform shadow-gold" />
    </div>

    <!-- Menú -->
    <nav class="hidden md:flex gap-8 font-sans text-sm">
      <a routerLink="/home" class="relative hover:text-golden transition-colors duration-300">Inicio</a>
      <a routerLink="/servicios" class="relative hover:text-golden transition-colors duration-300">Servicios</a>
      <a routerLink="/portafolio" class="relative hover:text-golden transition-colors duration-300">Portafolio</a>
      <a routerLink="/contacto" class="relative hover:text-golden transition-colors duration-300">Contáctanos</a>
    </nav>
  </div>
</header>
